@keyframes upDown {
    0% {
        top: 80%;
    }

    5% {
        top: 81%;
    }

    10% {
        top: 82%;
    }

    15% {
        top: 83%;
    }

    20% {
        top: 84%;
    }

    25% {
        top: 85%;
    }

    30% {
        top: 86%;
    }

    35% {
        top: 87%;
    }

    40% {
        top: 88%;
    }

    45% {
        top: 89%;
    }

    50% {
        top: 90%;
    }

    55% {
        top: 89%;
    }

    60% {
        top: 88%;
    }

    65% {
        top: 87%;
    }

    70% {
        top: 86%;
    }

    75% {
        top: 85%;
    }

    80% {
        top: 84%;
    }

    85% {
        top: 83%;
    }

    90% {
        top: 82%;
    }

    95% {
        top: 81%;
    }

    100% {
        top: 80%;
    }
}